{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "windows"],
        "quotes": ["error", "double"],
        "eol-last": ["error", "never"],
        "semi": ["error", "always"],
        "comma-dangle": ["error", "always-multiline"],
        "no-cond-assign": ["error", "always"],
        "arrow-parens": ["error", "always"],
        "no-console": "off"
    },
    "env": {
        "node": true,
        "es6": true
    }
}